.contact {
    .contact-form {
        width: 500px;
        margin: 50px auto;
        text-align: center;
        box-shadow:  0 0 10px #ccc;
        padding: 50px 0 50px 0;
        .title{
            margin: 0;
            padding: 0;
        }
        .input-box {

            .text {
                font-size: 24px;
                opacity: .7;
                margin-bottom: 10px;
            }
            input {
                width: 50%;
                font-size: 20px;
                border: none;
                outline: none;
                border-bottom: 1px solid #ccc;
                text-align: center;
            }
            .message {
                width: 70%;

            }

        }

        .submit-box {
            margin-top: 50px;
            
            .btn {
                width: 50%;
                  margin: 0 auto;
                  padding: 6px 0;
                font-size: 26px;
                font-weight: 600;
                background-color: white;

                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }

            }
        }
    }
}