.about {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1615172282427-9a57ef2d142e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .empty {
    height: 80vh;
  }
  .container {
    background-color: rgb(253, 226, 201);
    width: 100%;

    .title {
      text-align: center;
      padding-top: 32px;
    }
    .list-group {
        width: 100%;
        margin: 0;
        padding: 50px 0;
          list-style: none;
          display: flex;
          justify-content:  space-around;
            

          .item {
            width: 250px;
          margin: 0;
          padding: 0;

          .avatar {
            width: 250px;
            border-radius: 50%;
          }
          .name {
            text-align: center;
            font-size: 26px;
          }
          .role {
            font-size: 20px;
            text-align: center;
            font-weight: 600;
          }
          desc {
            text-align: center;
          }
        }
      }
  }
}
